.About-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    margin: auto;
    background-image: url('../Resources/About-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}

.About-section .Description {
    text-align: center;
    width: 50%;
    font-size: 20px;
    color: white;
    margin: 20px 0px;
}
.About-section .Get-Started {
    text-align: center;
    margin: 10px 0px;
    font-size: 20px;
    color: white;
    background: none;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s ease;
}

.About-section .Get-Started:hover {
    color: black;
    background: white;
    box-shadow:
        0 0 5px #fff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}

@media only screen and (max-width: 1300px) {
    .About-section {
        padding: 100px 10px;
    }
    .About-section .Description {
        text-align: center;
        width: 50%;
    }
}