* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

#bgVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
}

.Main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


/* Navigation Styling */
.navigation {
    display: flex;
    min-height: 10vh;
    width: 100%;
    padding: 10px 30px;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    list-style: none;
    padding: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navigation ul li a:hover {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
}

.navigation .navigation-left img {
    width: 64px;
    height: 64px;
}


.navigation .navigation-left {
    display: flex;
    align-items: center;
    width: 20%;
    font-size: 20px;
    color: white;
}


.navigation .navigation-right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80%;
}

/* Heading, Description and Button */
.Main-section .Intro-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main-section .Intro-div .Heading {
    text-align: center;
    font-size: 150px;
    color: white;
    margin: auto;
}

.Main-section .Intro-div .Description {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: auto;
}

.Main-section .Intro-div .Explore-button {
    text-align: center;
    margin: 10px 0px;
    font-size: 20px;
    color: white;
    background: none;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s ease;
}

.Main-section .Intro-div .Explore-button:hover {
    color: black;
    background: white;
    box-shadow:
        0 0 5px #fff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}

.Main-section .Intro-div .Know-more {
    font-size: 15px;
    text-decoration: none;
    transition: transform 0.4s;
}

.Know-more:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .navigation{
        position: fixed;
        right: 0;
        flex-direction: column;
        width: 60%;
        padding: 100px 50px;
        background-color: rgba(19, 14, 38, .8);
        height: 100vh;
        transition: all .5s ease-out;
    }

    .navigation .navigation-left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .navigation .navigation-right {
        width: 100%;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
    }
    
    .navigation ul li {
        display: inline;
    }
}

@media only screen and (max-width: 650px) {
    .Main-section .Intro-div .Heading {
        font-size: 100px;
    }
    .Main-section .Intro-div .Description {
        font-size: 25px;
    }
    .Main-section .Intro-div .Explore-button {
        font-size: 15px;
    }
    .Main-section .Intro-div .Know-more {
        font-size: 15px;
        text-decoration: none;
        transition: transform 0.4s;
    }
}